/T6Act16/nbproject/private/
/T6Act16/build/
/T6Act17/nbproject/private/
/T6Act17/build/
/PruebaString/nbproject/private/
/PruebaString/build/
/T6ActStr1/nbproject/private/
/T6ActStr1/build/
/Escacs_Louis_Payne/nbproject/private/
/Escacs_Louis_Payne/build/
/T6ActStr2/nbproject/private/
/T6ActStr2/build/
/T6ActStr3/nbproject/private/
/T6ActStr3/build/
/T6ActStr4/nbproject/private/
/T6ActStr4/build/
/T6ActStr5/nbproject/private/
/T6ActStr5/build/
/T6RepasoExamen/nbproject/private/
/T6RepasoExamen/build/
/T6RepasoExamen2/nbproject/private/
/T6RepasoExamen2/build/
/T6RepasoExamen2/dist/
