/T6Act16/nbproject/private/
/T6Act16/build/
/T6Act17/nbproject/private/
/T6Act17/build/
/PruebaString/nbproject/private/
/PruebaString/build/
/T6ActStr1/nbproject/private/
/T6ActStr1/build/
/Escacs_Louis_Payne/nbproject/private/
/Escacs_Louis_Payne/build/
/T6ActStr2/nbproject/private/
/T6ActStr2/build/
/T6ActStr3/nbproject/private/
/T6ActStr3/build/
/T6ActStr4/nbproject/private/
/T6ActStr4/build/
/T6ActStr5/nbproject/private/
/T6ActStr5/build/
/T6RepasoExamen/nbproject/private/
/T6RepasoExamen/build/
/T6RepasoExamen2/nbproject/private/
/T6RepasoExamen2/build/
/T6RepasoExamen2/dist/
/Collatz/nbproject/private/
/Collatz/build/
/ArrayMajorsMenors/nbproject/private/
/ArrayMajorsMenors/build/
/Temperatures/nbproject/private/
/Temperatures/build/
/T6ActMat1/nbproject/private/
/T6ActMat1/build/
/T6ActMat2/nbproject/private/
/T6ActMat2/build/
/T6ActMat3/nbproject/private/
/T6ActMat3/build/
/T6ActMat4/nbproject/private/
/T6ActMat4/build/
/T6ActMat5/nbproject/private/
/T6ActMat5/build/
/C6_MatrizSumatorios/nbproject/private/
/C6_MatrizSumatorios/build/
/C7_Estaturas/nbproject/private/
